/* Top bar */
.loginTab {
	width: 25%;
	margin: auto;
}

.topnav input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;

	font-size: 17px;
}

.topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #5B5D74;
}

ul.topnav li {
	float: left;
}

ul.topnav li span {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a {
	display: block;
	color: white;
	font-size: 120%;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a.active {
	background-color: #4CAF50;
}

ul.topnav li.right {
	float: right;
}

ul.topnav li.right a:hover {
	color: red;
}

@media screen and (max-width: 600px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}

/* Left bar */
.leftbar {
	background-color: #5B5D74;
	color: white;
	min-height: 80vh;
	height: 100%;
}

.leftbar li {
	list-style: none;
}

.leftBarContent {
	padding: 10%;
}

.categoryItem {
	margin-bottom: 10px;
}

.categoryItem a {
	color: white;
	text-decoration: none;
		transition: 0.7s;
}

.categoryItem a:hover {
	color: red;
	text-decoration: none;
	transition: 1s;
	margin-left: 10px;
}